@page
@model SparkAuto.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="get" asp-page="Index">
    <br /><br />
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Customers List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-page="/Account/Register" asp-area="Identity" class="btn btn-info">
                <i class="fas fa-plus"></i>&nbsp; Create New Customer
            </a>
        </div>
    </div>

    <div class="border backgroundWhite">
        <div style="height:60px;" class="container border border-secondary">
            <div class="row">
                <div class="col-11">
                    <div class="row" style="padding-top:10px">
                        <div class="col-4">
                            @Html.Editor("searchEmail", new { htmlAttributes = new { @class = "form-control", placeholder = "Email..." } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", placeholder = "Name..." } })
                        </div>
                        <div class="col-4">
                            @Html.Editor("searchPhone", new { htmlAttributes = new { @class = "form-control", placeholder = "Phone..." } })
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="row" style="padding-top:10px; padding-right:15px;">
                        <button type="submit" name="submit" value="Search" class="btn btn-info form-control">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>



        <br />
        <div>
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.UsersListVM.ApplicationUserList[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.UsersListVM.ApplicationUserList[0].PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.UsersListVM.ApplicationUserList[0].Email)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach(var item in Model.UsersListVM.ApplicationUserList)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Email)
                    </td>
                    <td></td>
                    <td>
                        <a class="btn btn-primary text-white" asp-page="Edit" asp-route-Id="@item.Id">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-white" asp-page="Delete" asp-route-Id="@item.Id">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                }
                <tr>
                    <td colspan="5" class="text-right">
                        <div page-model="@Model.UsersListVM.PagingInfo" asp-action="Index" page-class="btn border"
                            page-class-normal="btn btn-light" page-class-selected="btn btn-info active" class="btn-group">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
